.Dictionary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.Dictionary-img {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.Dictionary section {
  background-color: #efe5fd;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.title {
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 34px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 30px;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #bb86fc !important;
}

.search {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.search input {
  cursor: pointer;
  padding: 10px 15px;
  padding-left: 45px;
  width: 100%;
  border-radius: 15px;
  font-size: 18px;
  color: var(--primary);
  background: rgba(252, 252, 252);
  transition: all 0.15s;
  outline: none;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

.icon__before {
  position: relative;
  display: inline;
  width: 100%;
}

.icon__before svg {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  left: 16px;
  top: 28%;
}

.search input::placeholder {
  color: rgba(55, 0, 179, 0.5);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 7px 20px;
  border-radius: 15px;
  text-align: center;
  color: var(--primary);
  border: 1px solid var(--accent);
  background-color: var(--accent);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 18px;
  margin-left: 15px;
  box-shadow: 0 2px 10px var(--accent);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.btn:hover {
  background: rgba(252, 252, 252);
  color: var(--primary);
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .search {
    width: 85%;
  }
}

@media (max-width: 992px) {
  .title-word {
    width: auto;
  }
}

@media (max-width: 840px) {
  .Dictionary-img {
    width: 70px;
    height: 70px;
  }

  .title-word {
    font-size: 26px;
    padding: 10px 15px;
    border-radius: 23px;
  }

  .title-word span {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .Dictionary section {
    width: 100%;
  }
  .search {
    padding: 25px 0;
  }
  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .search {
    width: 90%;
  }
  .title-word {
    font-size: 24px;
    line-height: 28px;
  }
  .title-word span {
    font-size: 22px;
  }
}
@media (max-width: 476px) {
  .search {
    flex-direction: column;
    padding: 20px 0 15px;
    row-gap: 15px;
  }
}

@media (max-width: 375px) {
  .title-word {
    font-size: 22px;
  }
  .title-word span {
    font-size: 20px;
  }
}
