.Results {
  display: flex;
  flex-direction: column;
}

.title-word {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  margin: 20px auto;
  width: 40%;
  line-height: 38px;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-word span {
  font-size: 26px;
  text-transform: lowercase;
  font-weight: 500;
  margin-left: 10px;
}

.singleMean {
  display: flex;
  flex-direction: column;
  border-radius: 30px 30px 30px 5px;
  margin: 20px 0;
  padding: 15px;
  box-shadow: 2px 2px 4px 0px var(--primary);
  transition: all 0.5s;
}

.singleMean:hover {
  transform: scale(1.03);
}

.accordion {
  background: transparent !important;
  box-shadow: none !important;
  width: 95% !important;
}

.item {
  padding: 15px 30px;
  margin: 15px 0;
  border-radius: 30px;
  transition: all 0.5s;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  border: 1px solid var(--accent);
}

.item:hover {
  transform: scale(1.05);
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 5px;
}

.item-title span {
  width: 50px;
  height: 50px;
  border: 1px solid var(--accent);
  border-radius: 50%;
  background-color: var(--accent);
  color: #3700b3;
  text-align: center;
  /* position: absolute;
  top: 50%;
  left: 50%; */
}

.phonetic {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.phonetic-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .phonetic-player {
}

.phonetic-player:hover {
} */

.phonetic-lg {
  margin-right: 10px;
}

.SoundIcon {
  color: var(--accent);
  padding-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.SoundIcon:hover {
  color: var(--primary-light);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s;
}

audio:hover,
audio:focus,
audio:active {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

audio {
  width: 240px;
  height: 40px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px var(--primary);
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 18px;
}

audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {
  /* background: transparent; */
  color: blue;
}

.example {
  color: blue;

  font-size: 18px;
}
.example span {
  font-weight: 500;
  font-style: italic;
}

.Synonyms,
.Antonyms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 35px;
}

.Synonyms span,
.Antonyms span {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
  padding: 5px 15px;
  border-radius: 30px;
}

.Synonyms-list,
.Antonyms-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.Synonyms-list li,
.Antonyms-list li {
  background: #03dac6;
  padding: 5px 10px;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.Synonyms-list li:hover,
.Antonyms-list li:hover {
  color: white;
  /* background-color: #bb86fc; */
  background-color: #6200ee;
  text-decoration: underline;
  cursor: pointer;
}
