html {
  box-sizing: border-box;
}

* {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ol,
ul {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 28px; */
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
}

.App {
  background: #7effdb;
  min-height: 100vh;
  padding-top: 120px;
}

.App_content {
  /* background-color: white; */
  background: #ff9de2;
  border-radius: 5px;
}

.Switch {
  text-align: right;
}
