html {
  box-sizing: border-box;
}

* {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ol,
ul {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  /* color: black; */
  /* font-size: 20px;
  line-height: 28px; */
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
}

.App {
  background: grey;
  min-height: 100vh;
  padding-top: 120px;
}

.App_content {
  background-color: white;
  border-radius: 5px;
}

audio:hover,
audio:focus,
audio:active {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

audio {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}
