.footer {
  font-size: 16px;
}

.source__code {
  background-color: rgba(252, 252, 252, 0.8);
  border-radius: 10px;
  padding: 7px 10px;
  text-align: center;
  color: var(--default-color);
}

.source__code-link {
  color: black;
  text-decoration: underline;
  padding-left: 25px;
  position: relative;
  font-size: 18px;
}

.source__code-link:hover {
  color: var(--accent-color);
}

.source__code-img {
  position: absolute;
  top: 0;
  left: 2px;
  width: 20px;
  height: 20px;
}

.source__code-img path {
  fill: var(--accent-color);
}

.source__code-img:hover path {
  fill: black;
}

.copy {
  text-align: center;
  color: var(--default-color);
  margin: 0 10px 20px;
}

.copy span {
  font-weight: 500;
}
